:root {
    --yellow: #FED136;
    --black: #000000;
    --white: #FFFFFF;
}

button {
    background-color: var(--yellow);
    color: var(--white)
}

footer {
    background-color: var(--black);
    color: var(--white);
}

header {
    color: var(--yellow);
}