:root {
    --main_color: #FED136;
    --dark_color: #000000;
    --light_color: #FFFFFF;
}

button {
    background-color: var(--main_color);
    color: var(--light_color)
}

footer {
    background-color: var(--dark_color);
    color: var(--light_color);
}

header {
    color: var(--main_color);
}